{% extends 'landing_page.html' %}
{% load static %}
{% block main %}


<section style="margin-bottom: 50px;">
    <div class="container text-dark" style="margin-top: 110px;">
  
      <header class="text-center mb-5 text-white">
        <div class="row">
          <div class="col-lg-7 mx-auto">
            <h1>FAQs</h1>
          </div>
        </div>
      </header>
  
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-584LZZQ');</script>
  <!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-584LZZQ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

      <div class="row">
        <div class="col-12" >
            <h2 class="display-4">1</h2>
            <p>How do I begin using the dashboard, Forecaster and Budget Allocator?
            </p>
          </div>
      </div>

      <div class="row">
        <div class="col-12" >
            <h2 class="display-4">2</h2>
            <p>What should the column names be named in my data?
            </p>
          </div>
      </div>
      <div class="row">
        <div class="col-12" >
            <h2 class="display-4">3</h2>
            <p>How accurate is the forecast?”
            </p>
          </div>
      </div>

    </div>
  </section>


{% endblock %}