{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags-->
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="description" content="au theme template" />
		<meta name="author" content="Hau Nguyen" />
		<meta name="keywords" content="au theme template" />
		<link
			rel="icon"
			type="image/x-icon"
			href="{% static 'images/foreseeed_icon.ico' %}"
		/>
		<!-- Title Page-->
		<title>{% block title %}{% endblock %}</title>
		<link
			rel="stylesheet"
			href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap4.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap4.min.css"
		/>
		<!-- Fontfaces CSS-->
		<link
			href="{% static 'css/font-face.css' %}"
			rel="stylesheet"
			media="all"
		/>
		<link
			href="{% static 'vendor1/font-awesome-4.7/css/font-awesome.min.css' %}"
			rel="stylesheet"
			media="all"
		/>
		<link
			href="{% static 'vendor1/font-awesome-5/css/fontawesome-all.min.css' %}"
			rel="stylesheet"
			media="all"
		/>
		<link
			href="{% static 'vendor1/mdi-font/css/material-design-iconic-font.min.css' %}"
			rel="stylesheet"
			media="all"
		/>

		<!-- Bootstrap CSS-->
		<link
			href="{% static 'vendor1/bootstrap-4.1/bootstrap.min.css' %}"
			rel="stylesheet"
			media="all"
		/>

		<!-- Vendor CSS-->
		<link
			href="{% static 'vendor1/animsition/animsition.min.css' %}"
			rel="stylesheet"
			media="all"
		/>
		<link
			href="{% static 'vendor1/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}"
			rel="stylesheet"
			media="all"
		/>
		<link
			href="{% static 'vendor1/wow/animate.css' %}"
			rel="stylesheet"
			media="all"
		/>
		<link
			href="{% static 'vendor1/css-hamburgers/hamburgers.min.css' %}"
			rel="stylesheet"
			media="all"
		/>
		<link
			href="{% static 'vendor1/slick/slick.css' %}"
			rel="stylesheet"
			media="all"
		/>
		<link
			href="{% static 'vendor1/select2/select2.min.css' %}"
			rel="stylesheet"
			media="all"
		/>
		<link
			href="{% static 'vendor1/perfect-scrollbar/perfect-scrollbar.css' %}"
			rel="stylesheet"
			media="all"
		/>

		<!-- Main CSS-->
		<link
			href="{% static 'css/theme1.css' %}"
			rel="stylesheet"
			media="all"
		/>
	</head>

	<body class="animsition">
		<div class="page-wrapper">
			<div class="page-content--bge5">
				<div class="container">
                    {% block content %}{% endblock %}
                </div>
			</div>
		</div>
		<!-- Jquery JS-->
		<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
		<!-- Bootstrap JS-->
		<script src="{% static 'vendor1/bootstrap-4.1/popper.min.js' %}"></script>
		<script src="{% static 'vendor1/bootstrap-4.1/bootstrap.min.js' %}"></script>
		<!-- Vendor JS       -->
		<script src="{% static 'vendor1/slick/slick.min.js' %}"></script>
		<script src="{% static 'vendor1/wow/wow.min.js' %}"></script>
		<script src="{% static 'vendor1/animsition/animsition.min.js' %}"></script>
		<script src="{% static 'vendor1/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
		<script src="{% static 'vendor1/counter-up/jquery.waypoints.min.js' %}"></script>
		<script src="{% static 'vendor1/counter-up/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'vendor1/circle-progress/circle-progress.min.js' %}"></script>
		<script src="{% static 'vendor1/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
		<script src="{% static 'vendor1/chartjs/Chart.bundle.min.js' %}"></script>
		<script src="{% static 'vendor1/select2/select2.min.js' %}"></script>

		<!-- Main JS-->
		<script src="{% static 'js/main.js' %}"></script>

		{% comment %} <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap4.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
		<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script> {% endcomment %}
	</body>
</html>
<!-- end document-->
