{% extends 'auth/base.html' %}{% block title %}Reset Password Done - Foreseeed{% endblock %} {% block content %} {% load static %}
<div class="login-wrap">
	<div class="login-content">
		<div class="login-logo">
			<a href="/">
				<img
					src="{% static 'images/transparent-logo.svg' %}"
					alt="Foreseeed"
					width="210px"
				/>
			</a>
		</div>
		<div class="">
			<div class="card">
				<div class="card-header">
					<strong class="card-title"
						>Check your inbox
						<small>
							<span class="badge badge-success float-right mt-1"
								>An email is sent</span
							>
						</small>
					</strong>
				</div>
				<div class="card-body">
					<p class="card-text">
						We've emailed you instructions for setting your
						password. You should receive the email shortly!
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
