{% extends 'landing_page.html' %} {% block main %}
<section style="margin-bottom: 50px">
  <div class="container text-dark text-center" style="margin-top: 150px">
    <div class="row justify-content-center">
      <div id="error_div"></div>
      <h2 class="font-weight-light my-4 text-center text-white">
        Forgot Password?
      </h2>
      {% if form.errors %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
          {% for key, value in form.errors.items %}
          <strong>{{ value }}</strong>
          {% endfor %}
        </div>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% if messages %}
      <ul class="messages">
        {% for message in messages %} {% if forloop.last %}
        <li>{{ message }}</li>
        {% endif %} {% endfor %}
      </ul>
      {% endif %}
      <form
        class="col-lg-5 col-md-6 form py-2 rounded text-center"
        style="box-shadow: 1px 1px 2px 1px black"
        method="POST"
      >
        {% csrf_token %}
        <div class="col py-3">
          <input
            type="email"
            name="email"
            class="form-control"
            autocomplete="email"
            maxlength="254"
            required
            id="id_email"
            placeholder="Email"
          />
        </div>

        <div class="form-row">
          <div class="col-md-10 offset-md-1">
            <div class="form-group mt-0 mb-1 text-center">
              <button
                type="submit"
                class="my-3 btn text-white border px-5 bg-dark"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
      <div class="small">
        <a
          style="text-decoration: none"
          class="border-bottom text-white"
          href="{% url 'register' %}"
          >Create A New Account</a
        ><br /><br />
        <a
          style="text-decoration: none"
          class="border-bottom text-white"
          href="{% url 'login' %}"
          >Back To Login</a
        ><br />
      </div>
    </div>
  </div>
</section>
<style>
  .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px white;
    color: white;
  }
  .form-control {
    background-color: transparent;
    border: none;
    border-bottom: solid 1px white;
    color: white;
  }
</style>
{% endblock main %}
