{% extends "landing_page.html" %} {% block title %} Password Reset {% endblock title %} {% block main %}
<section style="margin-bottom: 50px">
  <div class="container text-dark text-center" style="margin-top: 150px">
    <div class="row justify-content-center">
      {% if not validlink %}
      <h2 class="font-weight-light my-4 text-center text-white">
        Reset Your Password
      </h2>
      {% if form.errors %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
          {% for key, value in form.errors.items %}
          <strong>{{ value }}</strong>
          {% endfor %}
        </div>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}

      <form
        class="col-lg-5 col-md-6 form py-2 rounded text-center"
        style="box-shadow: 1px 1px 2px 1px black"
        method="POST"
      >
        {% csrf_token %}

        <div class="col py-3">
          <input
            type="password"
            name="new_password1"
            autocomplete="new-password"
            class="form-control"
            required
            id="id_new_password1"
            placeholder="Enter password"
          />
        </div>
        <span> </span>

        <div class="col py-3">
          <input
            type="password"
            name="new_password2"
            autocomplete="new-password"
            required
            id="id_new_password2"
            class="form-control"
            placeholder="Confirm password"
          />
        </div>

        <div class="col py-3">
          <button
            type="submit"
            class="my-3 btn text-white border px-5 bg-dark"
            id="reset"
          >
            Reset Password
          </button>
        </div>
      </form>
      {% else %}
      <div class="col-lg-5 alert alert-warning">
        The password reset link was invalid, possibly because it has already
        been used. Please request a new password reset.
      </div>
      {% endif %}
    </div>
  </div>
</section>
<style>
  .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px white;
    color: white;
  }
  .form-control {
    background-color: transparent;
    border: none;
    border-bottom: solid 1px white;
    color: white;
  }
</style>
{% endblock main %}
