{% extends "landing_page.html" %} {% block main %}
<section style="margin-bottom: 50px">
  <div class="container text-dark text-center" style="margin-top: 150px">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="shadow-lg border-0 rounded-lg mt-0">
          <div class="alert alert-info">
            Your password has been set. You may go ahead and
            <a href="{% url 'login' %}">Login Here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main %}
