{% extends 'dashboard/dashboard.html' %}

{% block body %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/danfojs@1.1.2/lib/bundle.min.js"></script>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>



<div class="row p-3 text-dark" style="min-height: 100%; bottom: 0;">
  <div class="col container text-center">
    
    {% if msg %}
      <div class="alert alert-danger m-3 d-flex align-items-center" role="alert"
      id="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="success:">
              <use xlink:href="#exclamation-triangle-fill"/></svg>
          <div class="px-3">
            {{ msg }}
          </div>
      </div>
    {% else %}
    <div class="col text-center h5">X(date)  and select Y matric to visualize forecasting results. </div>
        {% block filternav  %}
            <div class="col text-left bg-dark text-white border col rounded p-1">
                    <form class="col px-1 py-4">
                        <div class="container-fluid">

                            <div class="row">
                                <!-- <div class="col-12">
                                    <label>Select Matrics:</label>
                                </div> -->
                                <div class="col-lg-6 col-md-6">
                                    <label>Select Y Matric:</label>
                                    <div>
                                        <select class="col form-select rounded " name="y_matric">
                                            {% for matric in matrics %}
                                                <option value="{{ matric }}">{{ matric }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label>Campaign:</label>
                                    <div>
                                        <select class="col form-select rounded" name="campaign">
                                            <option value="All">All()</option>
                                            {% for campaign  in campaigns %}
                                                <option value="{{ campaign }}">{{ campaign }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="row mt-2">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label>Periods:</label>
                                    <div>
                                        
                                        <select class="col form-select rounded" name="period">
                                            <option value=30>30</option>
                                            <option value=60>60</option>
                                            <option value=90>90</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label>Brand:</label>
                                    <div>
                                        <select class="col form-select rounded" name="brand">
                                            <option value="All">All()</option>
                                            {% for brand in brand_types %}
                                                <option value="{{ brand }}">{{ brand }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="row mt-3">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label>Engine:</label>
                                    <div>
                                        <select class="col form-select rounded" name="engine">
                                            <option value="All">All()</option>
                                            {% for engine  in engines %}
                                                <option value="{{ engine }}">{{ engine }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label>Device:</label>
                                    <div>
                                        <select class="col form-select rounded" name="device">
                                            <option value="All">All()</option>
                                            {% for device_name  in device_names %}
                                                <option value="{{ device_name }}">{{ device_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div> -->
                            
                        </div>

                        <div class="col text-center mt-5">
                            <input type="submit"  class="btn btn-primary px-4"
                            value="Forecast">
                        </div>
                    </form>
            </div>
            <div id="myDiv"></div>
        {% endblock %}
        <div class="container-fluid">
            {% if query_params %}
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-10 col-md-10 col-sm-12" style="font-size: 20px;">
                        
                            <span class="badge badge-pill badge-info">Y Matric: {{ query_params.y_matric }}</span>
                            <span class="badge badge-pill badge-info">Campaign: {{ query_params.campaign }}</span>
        
                            <span class="badge badge-pill badge-info">periods: {{ query_params.period }}</span>
                            <span class="badge badge-pill badge-info">Brand:  {{ query_params.brand }}</span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12" style="font-size: 15px;">
                        <a 
                        href="/forecastings/?y_matric={{query_params.y_matric}}&campaign={{query_params.campaign}}&period={{ query_params.period }}&brand={{ query_params.brand }}&download=true/">
                            Download Forecast results</a>    
                    </div>
                </div>
            {% endif %}

          <div class="row">
              <div class="col-12" id="imps_ploting"></div>
          </div>
        </div>
        
    {% endif %}

    
  </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


<script>
    const ds = {{ ds | safe }};
    const yhat = {{ yhat | safe }};
    const trend = {{ trend | safe }};

    var trace1 = {
                x: ds,
                y: yhat,
                mode:"",
                type:"",
                name: 'Forecast values',
    };
    var trace2 = {
                x: ds,
                y: trend,
                mode: 'markers',
                type: 'markers',
                name: 'Trend'
    };

    var data = [trace1, trace2];

    var layout = {
        title: 'Forecasting Results'
    };

    Plotly.newPlot('imps_ploting', data, layout);

</script>

{% endblock %}
